@inject IJSRuntime JSRuntime

<div class="tradingview-widget-container">
    <div id="tradingview_1ed70" style="width:100%; height:760px"></div>
    @code {
        protected override void OnAfterRender(bool firstRender)
        {
            if (firstRender)
            {
                var script = @"
                new TradingView.widget( {
                'autosize': true,
                'symbol': 'BINANCE:BTCBUSD',
                'interval': '4H',
                'timezone': 'Etc/UTC',
                'theme': 'dark',
                'style': '1',
                'locale': 'en',
                'toolbar_bg': '#f1f3f6',
                'enable_publishing': false,
                'withdateranges': false,
                'hide_side_toolbar': false,
                'allow_symbol_change': true,
                'container_id': 'tradingview_1ed70'
                });";

                JSRuntime.InvokeAsync<object>("eval", script);
            }
        }
  }
</div>


@code {

}
